<div class="d-flex-responsive align-center">
  <div class="row offset-right-5">
    <div class="d-flex-responsive">
      <p>
        <a class="btn btn-danger w-100 d-flex align-items-center justify-content-between" data-bs-toggle="collapse"
          href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">
          <span class=""><span class="ps-3">ALL CATEGORIES</span></span>
          <span class="fas fa-chevron-down"></span>
        </a>
      </p>
      <div class="collapse show border ps-3" id="collapseExample">
        <ul class="list-unstyled ps-3">
          <li><a class="dropdown-item redtext" href="#">Technology</a></li>
          <li><a class="dropdown-item" href="#">Furniture</a></li>
          <li><a class="dropdown-item" href="#">Textbooks</a></li>
          <li><a class="dropdown-item" href="#">Sports Gear</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>