<video autoplay muted loop id="landingVideo">
  <div class="color-overlay"></div>
  <source src="images\stevensvideo.mp4" type="video/mp4" />
</video>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h2 class="LandingText">STEVENS MARKETPLACE</h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-danger">
            <a class="nav-link text-white" href="/login">
              Login
            </a>
          </button>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="content">
  <span class="title"></span>
  <h1>Bringing Stevens<span> closer</span> together<br /> more than ever.</h1>
  <p class="whitetext">A Craigslist-like site designed to allow students to post
    listings so they can<br />
    meet together and sell items to each other.</p>
  <button type="button" class="btn btn-danger">
    <a class="nav-link text-white" href="/signup">
      Create Account
    </a>
  </button>
</div>