<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/landing">
      <h2 class="redtext">STEVENS MARKETPLACE</h2>
    </a>
    <div class="input-group my-2">
      <input
        type="search"
        class="form-control"
        placeholder="What are you looking for?"
        aria-label="Search"
      />
      <div class="col-1">
        <button type="submit" class="btn">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/personalChat">
              <i class="bi bi-chat-dots"></i>
            </a>
          </button>
        </li>
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/savedListings">
              <i class="bi bi-bag"></i>
            </a>
          </button>

        </li>
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/profile">
              <i class="bi bi-person"></i>
            </a>
          </button>

        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="nav-bar">
  <div class="container p-3">
    <article class="">
      <h1 class="display-4 whitetext">
        Sell products &
        <br />
        brands in our marketplace!
      </h1>
      <p class="lead text-white">Bringing you excellent service by connecting
        what matters.</p>
      <a href="#" class="btn btn-white"> Learn more </a>
    </article>
  </div>
</section>

<section class="padding-y">
  <div class="parent-container d-flex">
    <div class="d-flex-responsive align-center">
      <div class="row offset-right-5">
        <div class="d-flex-responsive">
          <p>
            <a
              class="btn btn-danger w-100 d-flex align-items-center justify-content-between"
              data-bs-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="true"
              aria-controls="collapseExample"
            >
              <span class=""><span class="ps-3">ALL CATEGORIES</span></span>
              <span class="fas fa-chevron-down"></span>
            </a>
          </p>
          <div class="collapse show border ps-3" id="collapseExample">
            <ul class="list-unstyled ps-3">
              <li><a class="dropdown-item redtext" href="#">Electronics</a></li>
              <li><a class="dropdown-item" href="#">Furniture</a></li>
              <li><a class="dropdown-item" href="#">Home Appliances</a></li>
              <li><a class="dropdown-item" href="#">Video Games</a></li>
              <li><a class="dropdown-item" href="#">Foods</a></li>
              <li><a class="dropdown-item" href="#">Clothing</a></li>
              <li><a class="dropdown-item" href="#">Class Material</a></li>
              <li><a class="dropdown-item" href="#">Homework</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <header class="section-heading">
        <h3 class="section-title redtext my-3">New Products</h3>
      </header>
      <div class="row gy-3 align-items-center">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="container pt-5"> </div>