<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <h2 class="redtext">STEVENS MARKETPLACE</h2>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/chat">
              <i class="bi bi-chat-dots"></i>
            </a>
          </button>
        </li>
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/listings/saved">
              <i class="bi bi-bag"></i>
            </a>
          </button>

        </li>
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/profile">
              <i class="bi bi-person"></i>
            </a>
          </button>

        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="test">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-3">
        <h3 class="font-weight-bold mb-3 whitetext text-center text-lg-start">Contact your peers</h3>
        <div class="card">
          <div class="card-body">
            <ul class="list-unstyled">
              {{#each names}}
              <li class="">
                <button type="button" class="btn d-flex justify-content-between">
                  <div class="d-flex flex-row">
                    <img src="images\Logo.jpeg" alt="avatar" class="roundsquare me-4" width="80" />
                    <div class="pt-2">
                      <p class="fw-bold redtext my-2">{{this}}</p>
                    </div>
                  </div>
                </button>
              </li>
              {{/each}}
            </ul>

          </div>
        </div>

      </div>

      <div class="offset-1 col-5 card-header chatbg">
        <ul class="list-unstyled my-3">
          <li class="d-flex justify-content-between mb-4">
            <div class="card">
              <div class="card-header test">
                <p class="fw-bold mb-0 whitetext">John Doe</p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </li>
          <li class="d-flex justify-content-between mb-4">
            <div class="card">
              <div class="card-header test2">
                <p class="fw-bold mb-0 float-end whitetext">You</p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </li>
          <li class="d-flex justify-content-between mb-4">
            <div class="card">
              <div class="card-header test">
                <p class="fw-bold mb-0 whitetext">John Doe</p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </li>
        </ul>
        <li class="card bg-white mb-3">
          <div class="form-outline">
            <textarea class="form-control" id="" rows="2"></textarea>
            <label class="form-label fw-bold redtext ps-3 my-3" for="">Send a
              message</label>
            <button type="button" class="btn btn-danger btn-rounded float-end">Send</button>

          </div>
        </li>

      </div>

    </div>

  </div>
  <div class="chatfill">
  </div>
</section>