<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/landing">
      <h2 class="redtext">STEVENS MARKETPLACE</h2>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/personalChat">
              <i class="bi bi-chat-dots"></i>
            </a>
          </button>
        </li>
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/savedListings">
              <i class="bi bi-bag"></i>
            </a>
          </button>

        </li>
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="/profile">
              <i class="bi bi-person"></i>
            </a>
          </button>

        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="vh-100 nav-bar">
  <div class="profile-container">

    <div class="nav-bar-profile">
      <h1>Profile</h1>
    </div>
    <div class="profile-pic">
      <img src="images\profile_symbol.jpg" alt="" width="130" height="180" />
    </div>
    <div class="profile-about">
      <h1>About</h1>
      <p>This is where you (the user) can give a little description about
        yourself. Let everyone know just how cool you are!</p>
    </div>
    <div class="profile-interests">
      <h1>Interests</h1>
      <p>Tell us about some of the things you're interested in buying/selling on
        our website!</p>
    </div>
    <div class="profile-ratings">
      <h1>Ratings</h1>
      <p>Here is where your ratings (as a seller) made by other buyers will
        appear after every processed order.</p>
    </div>
    <div class="profile-listings">
      <h1>Listings</h1>
      <p>This is where your listings (as a seller) will appear. Any item you are
        currently trying to sell can be seen here!</p>
    </div>

  </div>
</section>