<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h2 class="redtext">STEVENS MARKETPLACE</h2>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="#">
              <i class="bi bi-chat-dots"></i>
            </a>
          </button>
        </li>
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="#">
              <i class="bi bi-bag"></i>
            </a>
          </button>

        </li>
        <li class="nav-item">
          <button type="button " class="btn">
            <a class="nav-link" href="#">
              <i class="bi bi-person"></i>
            </a>
          </button>

        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="text-center my-5">
  <h2 class="redtext">Your Saved Listings</h2>

</div>

<section class="padding-y">
  <div class="parent-container d-flex">
    <div class="container">

      <div class="row gy-3 align-items-center">

        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="/images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="/images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="/images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="/images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="/images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mt-2">
                <h4 class="truncate">Posted by: TestUser</h4>
                <div class="">
                  <h2 class="redtext">CAMERA</h2>
                  <h5 class="redtext">PRICE: $200</h5>
                  <p class="text-muted">
                    CATEGORY: ELECTRONICS
                  </p>
                  <div class="d-flex flex-row">
                    <div class="">

                      <p class="text-muted">
                        CONDITION:
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <img src="/images/camera.jpg" width="150" class="img-fluid" />
              </div>
            </div>
            <p class="my-1">Take pictures and make memories with friends! </p>
            <span>
              <button class="btn btn-danger">Contact Seller</button>
              <button class="btn btn-info whitetext">Save Item</button>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="container pt-5 my-3"> </div>